:root {
  --themeBG: #1d1e22;
  --themeFont: #efefef;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 10px 30px;
  background: var(--themeBG);
  border: 3px solid var(--themeFont);
  box-shadow: 1px 1px 3px black;
  color: var(--themeFont);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.itemWrap {
  margin-bottom: 10px;
}

.itemNameWrap {
  display: flex;
  justify-content: space-between;
}

.itemName {
  font-size: 1.8em;
}

.itemMiddle {
  vertical-align: bottom;
  background-image: radial-gradient(var(--themeFont) 1px, var(--themeBG) 0px);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: left 90%;
  flex-grow: 2;
}

.itemPrice {
  font-size: 1.6em;
  padding-top: 5px;
}

.itemDesc {
  font-size: 1.1em;
  font-style: italic;
}
